
* {
  box-sizing: border-box;
}

:root {
  --primary-color: #3498db;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;

}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}